@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  @apply h-screen bg-[#181824] flex justify-center items-center box-border tracking-wide
}

.App{
  @apply scale-110
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  @apply bg-mainColor
}

::-webkit-scrollbar-thumb{
  @apply bg-bordercolor rounded-xl
}