.todos_wrapper {
	@apply mt-8 bg-mainColor max-h-64;
	overflow-y: overlay;
	scrollbar-gutter: stable both-edges;
}

@-moz-document url-prefix() {
	.todos_wrapper {
		overflow-y: auto;
		scrollbar-width: none;
	}
}
